path {
  stroke: #dbdbdb; }
  path:hover {
    stroke: #00aeff;
    pointer-events: all;
    filter: url(#shadow); }

.white {
  fill: #FFF; }

.mk_human_inside {
  fill: url(#mk_human_inside); }

.mk_av {
  fill: url(#mk_av); }

.mk_anti_theft {
  fill: url(#mk_anti_theft); }

.mk_fast_cleanup {
  fill: url(#mk_fast_cleanup); }

.mk_duplicate_finder {
  fill: url(#mk_duplicate_finder); }

.mk_geek_on_demand {
  fill: url(#mk_geek_on_demand); }

.mk_update_tracker {
  fill: url(#mk_update_tracker); }

.mk_backup {
  fill: url(#mk_backup); }

.mk_file_recovery {
  fill: url(#mk_file_recovery); }

.mk_disk_usage {
  fill: url(#mk_disk_usage); }

.mk_smart_uninstaller {
  fill: url(#mk_smart_uninstaller); }

.mk_data_encryptor {
  fill: url(#mk_data_encryptor); }

.mk_default_apps {
  fill: url(#mk_default_apps); }

.mk_shredder {
  fill: url(#mk_shredder); }

.mk_files_finder {
  fill: url(#mk_files_finder); }

.mk_login_items {
  fill: url(#mk_login_items); }

.mk_memory_cleaner {
  fill: url(#mk_memory_cleaner); }

.tools_content {
  width: 1000px;
  margin: 0 auto; }

.tools_wrapper {
  background-color: #f3f6f8;
  height: 520px;
  clear: left; }

.tools_heading {
  font-size: 2.4em;
  font-weight: 200;
  padding: 40px 0;
  text-align: center; }

.clean_save {
  color: #00aeff; }

.float_left {
  float: left; }

.tools_right_part {
  margin-left: 696px;
  border-radius: 5px;
  border: 1px solid #dde3e7;
  font-weight: 400;
  font-size: 1.4em; }
  .tools_right_part:after {
    clear: both; }

.tool_name {
  border-bottom: 1px solid #dde3e7;
  text-transform: uppercase; }
  .tool_name p {
    margin-top: 10px;
    text-align: center;
    margin: 17px 0; }

.tool_description {
  line-height: 24px;
  background-color: #FFF;
  height: 180px;
  color: #737373;
  vertical-align: center;
  text-align: center;
  padding-top: 34px; }
  .tool_description p {
    padding: 0 24px;
    height: 75px;
    overflow: hidden; }

#btn_download {
  border-radius: 5px;
  border: 1px solid #00aeff;
  color: #00aeff;
  font-weight: 600;
  font-size: 1em;
  padding: 17px 38px;
  background-color: #FFF;
  margin-top: 30px; }
  #btn_download a {
    color: #00aeff; }
  #btn_download:hover {
    outline: none;
    background-color: #00aeff; }
    #btn_download:hover a {
      color: #FFF; }

.img_wrapper {
  padding-top: 17px;
  width: 75px;
  margin: 0 auto; }

.human_inside {
  background: url("images/sprite_icon.png") 0px -12px; }

.av {
  background: url("images/sprite_icon.png") -1270px -12px; }

.anti_theft {
  background: url("images/sprite_icon.png") -264px -12px; }

.fast_cleanup {
  background: url("images/sprite_icon.png") -1340px -12px; }

.duplicate_finder {
  background: url("images/sprite_icon.png") -1424px -12px; }

.geek_on_demand {
  background: url("images/sprite_icon.png") -80px -12px; }

.update_tracker {
  background: url("images/sprite_icon.png") -1090px -12px; }

.backup {
  background: url("images/sprite_icon.png") -357px -12px; }

.file_recovery {
  background: url("images/sprite_icon.png") -1177px -12px; }

.disk_usage {
  background: url("images/sprite_icon.png") -990px -12px; }

.smart_uninstaller {
  background: url("images/sprite_icon.png") -889px -12px; }

.data_encryptor {
  background: url("images/sprite_icon.png") -536px -7px; }

.default_apps {
  background: url("images/sprite_icon.png") -456px -12px; }

.shredder {
  background: url("images/sprite_icon.png") -795px -12px; }

.files_finder {
  background: url("images/sprite_icon.png") -699px -12px; }

.login_items {
  background: url("images/sprite_icon.png") -625px -12px; }

.memory_cleaner {
  background: url("images/sprite_icon.png") -182px -12px; }

/* I was thinking about nested @each directive , but at the end that did not seem to me as something that get me easier to the desired result,
probably there is collest way to work with sprites will search for it. But for now will simply copy width and height of each element */
.memory_cleaner {
  height: 84px;
  width: 75px;
  background: url("images/sprite_icon.png") -182px -12px; }

.human_inside {
  height: 84px;
  width: 79px;
  background: url("images/sprite_icon.png") 0px -12px; }

.av {
  height: 84px;
  width: 70px;
  background: url("images/sprite_icon.png") -1270px -12px; }

.anti_theft {
  height: 84px;
  width: 84px;
  background: url("images/sprite_icon.png") -264px -12px; }

.fast_cleanup {
  height: 84px;
  width: 82px;
  background: url("images/sprite_icon.png") -1340px -12px; }

.duplicate_finder {
  height: 84px;
  width: 90px;
  background: url("images/sprite_icon.png") -1424px -12px; }

.duplicate_finder {
  height: 84px;
  width: 90px;
  background: url("images/sprite_icon.png") -1424px -12px; }

.geek_on_demand {
  height: 84px;
  width: 92px;
  background: url("images/sprite_icon.png") -80px -12px; }

.update_tracker {
  height: 84px;
  width: 88px;
  background: url("images/sprite_icon.png") -1090px -12px; }

.backup {
  height: 84px;
  width: 90px;
  background: url("images/sprite_icon.png") -357px -12px; }

.file_recovery {
  height: 84px;
  width: 80px;
  background: url("images/sprite_icon.png") -1177px -12px; }

.disk_usage {
  height: 84px;
  width: 100px;
  background: url("images/sprite_icon.png") -990px -12px; }

.smart_uninstaller {
  height: 84px;
  width: 90px;
  background: url("images/sprite_icon.png") -889px -12px; }

.data_encryptor {
  height: 84px;
  width: 80px;
  background: url("images/sprite_icon.png") -536px -7px; }

.default_apps {
  height: 84px;
  width: 80px;
  background: url("images/sprite_icon.png") -456px -12px; }

.shredder {
  height: 84px;
  width: 82px;
  background: url("images/sprite_icon.png") -795px -12px; }

.files_finder {
  height: 84px;
  width: 90px;
  background: url("images/sprite_icon.png") -699px -12px; }

.login_items {
  height: 84px;
  width: 72px;
  background: url("images/sprite_icon.png") -625px -12px; }

/*# sourceMappingURL=content_tools.css.map */
