@import 'mixin'; 

.nav_wrapper {
    background-color: #fafdff;
    border:1px solid #dde3e7;
    padding: 20px 0;
}

.nav_content {
    @include center;
    text-align: center;
    li {
    display: inline;
    margin-left: 19px;
    font-size: 1.4em;
        &:first-child {
    margin-left: 0
        }
        a {
    color:#434343;
}
}
}

.copyright_wrapper {
    background-color: #f4fafd;
}

.copyright_content {
    color:#737373;
    width: 1000px; 
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
    line-height: 21px;
    padding: 15px 0;
}

#learn_more {
    color: #00aeff;
}

#copyright {
    color:#989898;
}
